:root {
  --white-colour: #FFFFFA;
  --primary-colour: #44A1A0;
  --secondary-colour: #247B7B;
  --tertiary-colour: #78CDD7;
}

.App {
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.header {
  background: var(--secondary-colour);
  text-align: left;
  padding: 10px;
}

.header a {
  color: var(--white-colour);
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  background:var(--primary-colour);
  border-radius: 10px;
  padding: 10px;
}


.nav {
  background: var(--secondary-colour);
  padding: 10px;
  justify-content: center;
}

.nav-item a {
  font-weight: bold;
  font-size: 28px;
  list-style: none;
  justify-content:space-around;
  text-align: none;
  color: var(--white-colour);
  text-decoration: none;
}

.nav-item a:hover {
  background:var(--primary-colour);
  border-radius: 10px;
  padding: 10px;
}

h1,
h2,
h3 {
  color: var(--primary-colour);
  font-weight: bold;
}

.about-text {
  font-size: 24px;
}

.project-li,
.project-name,
.project-github
 {
  list-style: none;
}

.img-thumbnail {
  height: 35%;
  width: 35%;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
}

.github-link {
  bottom: 5%;
  left: 25%;
  margin: 15px;
}

.project-name {
  position: relative;
  text-align: center;
  bottom: 50px;
  left: -45px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.contact-form {
  width: 40%;
  font-size: 24px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  width: 600px;
  border: 3px solid var(--secondary-colour);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary-colour);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid var(--secondary-colour);
	padding: 5px;
}


button {
  font-size: 18px;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  color: var(--white-colour);
  background-color: var(--primary-colour);
  width: 100px;
  height: 50px;
}

button:hover {
  opacity: .8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer {
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
